irc.freenode.org channels:
<ul>
<% @channels.each do |c| %>
	<li><a href="/<%= c[1..-1] %>/today"><%= c %></a></li>
<% end %>
</ul>

<p>Please contact me at chris@christopher-schneider.com</p>

<p>
IRCLogger was written in <a href="http://sinatra.rubyforge.com">Sinatra</a>, an awesome Ruby Microframework.  
</p>

<p>
The source is available on <a href="http://www.github.com/cschneid/irclogger">Github</a>, and check out my blog about <a href="gittr.com">Sinatra and Ruby</a> at gittr.com
</p>
