- now = Time.now.utc.strftime("%H:%M")

#log

  .info
    = now
    IRCLogger was written in <a href="http://sinatra.rubyforge.com">Sinatra</a>, an awesome Ruby microframework.  The source code is available on <a href="http://www.github.com/cschneid/irclogger">GitHub</a>.

  .info
    = now
    Please contact me at chris@christopher-schneider.com

  .info
    = now
    Check out my blog about <a href="http://gittr.com">Sinatra and Ruby</a>.
