irc.freenode.org channels:
<ul>
<% @channels.each do |c| %>
	<li><a href="/<%= c[1..-1] %>/today"><%= c %></a></li>
<% end %>
</ul>

<p>Please contact me at 
<script type="text/javascript">
/* <![CDATA[ */
function hivelogic_enkoder(){var kode=
"kode=\"oked\\\"=kode\\\"\\\\)=';)'-:t1nhlgeeo.(dAkatcreho.?dtknhlgeeo.<d(k"+
"xie+o=}dikt)r(hA.adcke)o++(1Aiatcreho.=dxk)+={i2)+-;t1nhlgeeo.(dik0<i;r=f("+
"'o=;;'\\\\x\\\\\\\"e\\\\ox}=cdeko)r(hdmCra.CnorfSg+i;t2==xc801c+f);<-(iit3"+
"e)o(rAhd.Cdakcce)o+=;{t+nilhegoe<.;d=k(io0;i'rxf\\\\'=\\\\\\\\\\\\\\\"\\\\"+
"\\\\;>\\\\*,=*4,k0jwhq1oghnrw+uDkd1fghnrkBjwhq1oghnrl?.+@{ghnr00\\\\0,\\\\"+
"\\\\\\\\\\\\\\\\\\\\+D\\\\dlfwhurk.14glnw,u.k+1Dgdnf.h~r5@.{>,4@klj,h01wgq"+
"no?h>r@++lr3>l*u{i%*>@%>2,pAf_udg?hrk1vhulkqrfv0uhfsvwulfk%CAl_k___%o_l@#_"+
"_h%wrw1_h_lpqffu0ghhskwvlukkCrlvku=fwvlupf_r%oidu_\\\\_@#\\\\\\\\\\\\\\\\h"+
"?k+d_%hwluz1wqhpxfrg@%ghnr=\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\deko\\\"\\\\\\"+
"\\\\\\=edo\\\"\\\\kkd;=ooeeksdl.tp'i)(r'v.reee)sj(i.(o'n)';\\\"=x''f;roi(0"+
"=i;(<okedl.netg-h)1i;=+)2x{=+okedc.ahAr(t+i)1k+do.ehcratAi(})okedx=(+<ioke"+
"dl.netg?hokedc.ahAr(tokedl.netg-h)1':)';\";x='';for(i=0;i<(kode.length-1);"+
"i+=2){x+=kode.charAt(i+1)+kode.charAt(i)}kode=x+(i<kode.length?kode.charAt"+
"(kode.length-1):'');"
;var i,c,x;while(eval(kode));}hivelogic_enkoder();
/* ]]> */
</script></p>

<p>
IRCLogger was written in <a href="http://sinatra.rubyforge.com">Sinatra</a>, an awesome Ruby Microframework.  
</p>
<p>
The source is available on <a href="http://www.github.com/cschneid/irclogger">Github</a>, and check out my blog about <a href="gittr.com">Sinatra and Ruby</a> at gittr.com
</p>
