<html>
	<head>
		<title>IRC Logs <%= "For #{@channel} on #{@date.to_s}" if @channel %></title>
		<link rel="stylesheet" href="/styles.css" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	</head>
	<body>
	<%= yield %>
	</body>
</html>
