<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta name="description" content="IRC LOG for channel #<TMPL_VAR NAME=CHANNEL>" />
    <link rel="stylesheet" type="text/css" href="<TMPL_VAR NAME=BASE_URL>style.css" title="Irclog Stylesheet" />
    <link rel="shortcut icon" href="<TMPL_VAR NAME=BASE_URL>moose1.ico" type="image/x-icon" />
    <title>IRC log for #<TMPL_VAR NAME=CHANNEL>, <TMPL_VAR NAME=DATE></title>
	<TMPL_IF NAME=ADMIN>
	<script type="text/javascript">
	<!--
		function reset_checkboxes() {
			var inputs = document.getElementsByTagName("input");
			for (var i = 1; i < inputs.length - 1; i++){
				inputs[i].checked = false;
			}
		}
	//-->
	</script>
	</TMPL_IF>
</head>
<body>
    <p><img style="float:right" src="<TMPL_VAR NAME=BASE_URL>moosecamel.png" width="400" height="194"
    alt="A Camel and a Moose"/></p>
    
    <h1>IRC log for #<TMPL_VAR NAME=CHANNEL>, <TMPL_VAR NAME=DATE></h1>

    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">
    <TMPL_INCLUDE NAME='linkblock.tmpl'>

    <p>All times shown according to <abbr title="Coordinated Universal Time">UTC</abbr>.</p>
	<TMPL_IF NAME=ADMIN>
	<form method="post" action="<TMPL_VAR NAME=BASE_URL>spam.pl?date=<TMPL_VAR NAME=DATE>;channel=<TMPL_VAR NAME=CHANNEL>">
	<p><input type="submit" value="Mark as spam" /></p>
	<p><a href="javascript:reset_checkboxes()">Reset all Checkboxes</a></p>
	<div style="clear:both"></div>
	</TMPL_IF>
    <table id="log" style="clear:both">
        <tr class="head">
		<TMPL_IF NAME=ADMIN>
			<th>Range</th>
			<th>Single</th>
		</TMPL_IF>
            <th>Time</th>
            <th>Nick</th>
            <th>Message</th>
        </tr>
        <TMPL_LOOP NAME=MESSAGES>
<TMPL_INCLUDE NAME='line.tmpl'>
        </TMPL_LOOP>

    </table>
	<TMPL_IF NAME=ADMIN>
	<p><input type="submit" value="Mark as spam" /></p>
	<div style="clear:both"></div>
	</form>
	</TMPL_IF>

    <TMPL_INCLUDE NAME='linkblock.tmpl'>
    <TMPL_VAR NAME=CHANNEL_LINKS DEFAULT="">

    <TMPL_INCLUDE NAME="footer.tmpl">
</body>
</html>
<!-- <TMPL_IF DEBUG> <TMPL_VAR NAME=DEBUG> </TMPL_IF> -->
