<tr id="id_l<TMPL_VAR NAME=LINE_NUMBER>" <TMPL_IF NAME=CLASS>class="<TMPL_VAR NAME=CLASS>"</TMPL_IF>>
	<TMPL_IF NAME=ADMIN>
	<td class="checkbox"><input type="checkbox" name="range"  value="<TMPL_VAR NAME=ID>" size="1" style="width:1em"/></td>
	<td class="checkbox"><input type="checkbox" name="single" value="<TMPL_VAR NAME=ID>" size="1" style="width:1em"/></td>
	</TMPL_IF>
	<td class="time" id="i_<TMPL_VAR NAME=ID>"><a href="<TMPL_VAR NAME=BASE_URL><TMPL_VAR NAME=CHANNEL>/<TMPL_VAR NAME=DATE>#i_<TMPL_VAR NAME=ID>"><TMPL_VAR
	NAME=TIME></a></td>
	<td class="nick<TMPL_IF NAME=NICK_CLASS> <TMPL_VAR NAME=NICK_CLASS></TMPL_IF>"><TMPL_VAR NAME=NICK></td>
	<td class="msg<TMPL_IF NAME=MSG_CLASS> <TMPL_VAR NAME=MSG_CLASS></TMPL_IF> <TMPL_VAR NAME=SEARCH_FOUND DEFAULT=''>"><TMPL_VAR NAME=MESSAGE></td>
</tr>
