/*
 * #443A38 - Dark
 * #936158 - Dusty Pink
 * #DC9767 - Orange
 * #EDCB91 - Yellow
 * #F4EBC3 - Light Yellow
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-weight: normal;
  font-size: 14px;
  background-color: #d0d0d0;
  font-family: georgia, times, serif;
}

#header {
  margin-top: 20px;
  color: #547980;
  padding-left: 20px;
}
#dates {
  padding-left: 20px;
}

#links {
  width: 35%;
}
#links a {
  font-size: 14px;
}

#log {
  float: left;
  padding-left: 20px;
  width: 55%;
}

#links {
  float: right;
  margin-top: 50px;
  padding-right: 30px;
}
#links ul {
  list-style: none;
}

#log ol {
  list-style: none;
}

div.me {
  font-style: italic;
}

div.nick {
  width: 120px;
  float: left;
  font-weight: bold;
  clear:both;
}

div.line {
  width: 600px;
  left: 100px;
  float: right;
  margin-bottom: 10px;
}

div.time {
  font-size: larger;
  padding: 10px 0;
  clear: both;
  left: 100px;
  color: #547980;
}


/* Hash marks for permalinking to a certain point in the log */
.permalink,
.permalink:active,
.permalink:visited {
  color: #594F4F;
  text-decoration: none;
}
