body {
        font-weight: normal;
        font-size: 14px;
        background-color: white;
        font-family: georgia, times, serif;
}


dl.table-display
{
        margin: 2em 0;
        padding: 0;
}

.table-display dt
{
        float: left;
        margin: 0 0 0 0;
        padding: .5em;
        //border-top: 1px solid #999;
        font-weight: bold;
        width: 100px;
}

.table-display dt.info,
.table-display dd.info {
        font-size: 12px;
        color: #999;
}

.table-display dt.msg,
.table-display dd.info {
}

/* commented backslash hack for mac-ie5 \*/
dt { 
        clear: both; 
}
/* end hack */

.table-display dd
{
        float: left;
        width: 500px;
        margin: 0 0 0 0;
        padding: .5em;
        //border-top: 1px solid #999;
}

div.time {
        font-size: larger;
        padding: 5px;
        clear: both;
        left: 100px;
        background-color: #fafafa;
}

#header h1 {
        
}

#header h2 {

}
