body {
        font-weight: normal;
        font-size: 14px;
        background-color: white;
        font-family: georgia, times, serif;
}

#log {
	float: left;
}

#links {
	float: right;
}

#log dl
{
        margin: 2em 0;
        padding: 0;
}

#log dt
{
        float: left;
        margin: 0 0 0 0;
        padding: .5em;
        //border-top: 1px solid #999;
        font-weight: bold;
        width: 125px;
}

#log dt.info,
#log dd.info {
        font-size: 12px;
        color: #999;
}

#log dt.msg,
#log dd.info {
}

/* commented backslash hack for mac-ie5 \*/
dt { 
        clear: both; 
}
/* end hack */

#log dd
{
        float: left;
        width: 500px;
        margin: 0 0 0 0;
        padding: .5em;
}

div.time {
        font-size: larger;
        padding: 5px;
        clear: both;
        left: 100px;
        background-color: #fafafa;
}



/* Hash marks for permalinking to a certain point in the log */
.permalink,
.permalink:active,
.permalink:visited {
	color: #d0d0d0;
	text-decoration: none;
}
